# SPDX-License-Identifier: GPL-2.0
menu "My project"

source "myproject/syscall/Kconfig"

source "myproject/test/Kconfig"

source "myproject/simple_char/Kconfig"

source "myproject/mmap_devdrv/Kconfig"

endmenu



