# SPDX-License-Identifier: GPL-2.0
menu "My project"

source "myproject/syscall/Kconfig"

source "myproject/test/Kconfig"

source "myproject/simple_char/Kconfig"

source "myproject/mmap_devdrv/Kconfig"

source "myproject/sync_lock/Kconfig"

source "myproject/interrupt_test/Kconfig"

source "myproject/debug_test/Kconfig"

source "myproject/myusb_hid/Kconfig"

source "myproject/hid_test/Kconfig"

endmenu



